img{
  border-radius: 50%;
}
.heading{
	width: 100%;
	height: 100%;
	background-color:#adbbe6;
	color: black;
	text-align: center;
	padding: 10px;
}
.left{
	width: 30%;
	height: 100%;
	position: absolute;
  background-color: #009999;
  left:0;
}
.right{
	width: 70%;
	height: 100%;
	position: absolute;
	right: 0;
  background-color: #f0ffff;
	border-left: 1px solid gray;
}
.personal{
	text-align: center;

}
.other{
	margin: 20px;
	text-align: left;
}
th{
	background-color:#adbbe6;
	color: black;
}
th,td{
	border-bottom:1px solid #FF5733;
}


body{
	 font-family: Arial, Helvetica, sans-serif;
}
